<section class="hero card" [class.hero--overlay]="overlay">
  <div class="hero-text">
    <h1 class="h3">{{ title | translate }}</h1>
    <p class="h2 hero-tagline">{{ tagline | translate }}</p>
    <div class="cta" *ngIf="primaryCta as pc">
      <!-- primary -->
      <a
        *ngIf="pc.link.startsWith('#'); else primaryRouter"
        class="btn btn-primary"
        [attr.href]="pc.link"
      >
        {{ pc.label | translate }}
      </a>

      <ng-template #primaryRouter>
        <a
          class="btn btn-primary"
          [routerLink]="pc.link | langLink"
          [queryParams]="pc.queryParams"
        >
          {{ pc.label | translate }}
        </a>
      </ng-template>

      <!-- secondary -->
      <ng-container *ngIf="secondaryCta as sc">
        <a
          *ngIf="!isDownloadLink(sc.link); else downloadBtn"
          class="btn btn-secondary"
          [routerLink]="sc.link | langLink"
          [queryParams]="sc.queryParams"
        >
          {{ sc.label | translate }}
        </a>

        <ng-template #downloadBtn>
          <uplix-download-gate
            [href]="sc.link"
            [labelKey]="sc.label"
            buttonClass="btn btn-secondary"
            source="hero"
          ></uplix-download-gate>
        </ng-template>
      </ng-container>
    </div>
  </div>

  <div class="hero-img">
    <img [src]="heroImage" [alt]="(title | translate)" />
  </div>
</section>
