<section class="hero card">
  <div class="hero-text">
    <h1 class="h1">{{ title }}</h1>
    <p class="p">{{ tagline }}</p>

    <div class="cta">
      <a class="btn btn-primary"
         [routerLink]="primaryCta.link"
         [queryParams]="primaryCta.queryParams">
        {{ primaryCta.label }}
      </a>

      <ng-container *ngIf="secondaryCta as sc">
        <a *ngIf="!isDownloadLink(sc.link); else downloadBtn"
           class="btn btn-secondary"
           [routerLink]="sc.link"
           [queryParams]="sc.queryParams">
          {{ sc.label }}
        </a>

        <ng-template #downloadBtn>
          <a class="btn btn-secondary"
             [attr.href]="sc.link"
             download
             target="_blank"
             rel="noopener">
            {{ sc.label }}
          </a>
        </ng-template>
      </ng-container>
    </div>
  </div>

  <div class="hero-img">
    <img [src]="heroImage" [alt]="title" />
  </div>
</section>

